<div class="flex flex-col md:flex-row min-h-screen w-full">

    <div
        class="hidden tablet:flex tablet:w-2/5 desktop:w-3/5 min-h-screen bg-black text-white flex-col justify-center items-center p-8 border-r border-neutral-900">

        <div class="flex flex-col items-center text-center gap-3 max-w-2xl">
            <img src="assets/images/logo.png" alt="OPENMAC"
                class="h-32 w-32 object-contain bg-white rounded-2xl p-3 shadow-xl shadow-white/5">

            <h1 class="text-3xl desktop:text-5xl font-bold tracking-[0.2em] text-white uppercase mt-2">OPENMAC</h1>
            <h2 class="text-2xl desktop:text-3xl font-semibold text-neutral-100">Bem-vindo de volta</h2>

            <div class="h-px w-12 bg-neutral-800 my-1"></div>

            <p class="text-sm desktop:text-2xl text-neutral-400 leading-relaxed">
                Sistema de gestão de ordens de serviço para assistência técnica especializada Apple.
            </p>
        </div>

    </div>

    <div
        class="w-full tablet:w-3/5 desktop:w-2/5 min-h-screen bg-white text-black flex flex-col justify-center items-center p-8 md:p-16 transition-all duration-300">
        @if (telaAtual() === 'login') {

        <div class="w-full max-w-md flex flex-col gap-8">

            <div class="flex flex-col gap-2 items-center">
                <h3 class="text-2xl font-bold tracking-tight text-neutral-900">Acessar conta</h3>
                <span class="text-3x1 text-neutral-500">Entre com suas credenciais para acessar o sistema</span>
            </div>

            <form class="flex flex-col gap-5" [formGroup]="loginForm" (ngSubmit)="confirmarUsuario()">

                <div class="flex flex-col gap-2">
                    <label class="font-semibold text-neutral-600 tracking-wider" for="email">
                        Email
                    </label>
                    <input type="email" id="email" formControlName="email"
                        class="w-full rounded-3xl border border-neutral-300 bg-neutral-50 px-4 py-3 text-neutral-900 placeholder-neutral-400 focus:outline-none focus:border-black focus:ring-1 focus:ring-black transition-all text-sm"
                        placeholder="seu@email.com">
                </div>

                <div class="flex flex-col gap-2">
                    <label class="font-semibold tracking-wider text-neutral-600" for="password">
                        Senha
                    </label>

                    <div class="relative w-full flex items-center">
                        <input [type]="mostrarSenha() ? 'text' : 'password'" id="password" formControlName="password"
                            class="w-full rounded-3xl border border-neutral-300 bg-neutral-50 pl-5 pr-12 py-3 text-neutral-900 placeholder-neutral-400 focus:outline-none focus:border-black focus:ring-1 focus:ring-black transition-all text-sm"
                            placeholder="••••••••">

                        <button type="button" (click)="alternarVisualizacao()"
                            class="absolute right-4 text-neutral-400 hover:text-black transition-colors focus:outline-none">
                            @if (mostrarSenha()) {
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                            } @else {
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                            </svg>
                            }
                        </button>
                    </div>
                </div>

                <button type="submit" class="button-openmac">
                    Entrar
                </button>
            </form>

            <div class="flex flex-col w-full items-center">
                <p class="font-semibold text-neutral-900">
                    Não tem uma conta?
                    <button (click)="mudarTela('cadastro')"
                        class="text-neutral-900 font-semibold hover:text-neutral-500 underline-offset-4 hover:underline transition-colors ml-1">
                        Cadastre-se
                    </button>
                </p>
                <p class="font-semibold">
                    <button (click)="mudarTela('password-recovery')"
                        class="text-neutral-900 font-semibold hover:text-neutral-500 underline-offset-3 hover:underline transition-colors duration-100 ml-1">
                        Esqueceu sua senha?
                    </button>
                </p>
            </div>
        </div>

        } @else if (telaAtual() === 'cadastro') {

            <app-register (onVoltarParaLogin)="mudarTela('login')"></app-register>

        } @else if (telaAtual() === 'verify'){
            <app-verify (onVoltarParaLogin)="mudarTela('login')"></app-verify>
        } @else if (telaAtual() ==  'password-recovery') {
            <app-password-recovery (onVoltarParaLogin)="mudarTela('login')"></app-password-recovery>
        }
    </div>



</div>