<div class="w-full max-w-md flex flex-col gap-6 animate-slide-up">
  <div class="flex flex-col gap-2 items-center text-center">
    <h3 class="text-3xl font-bold tracking-tight text-neutral-900">Criar conta</h3>
    <span class="text-neutral-500">Cadastre-se para ter acesso aos recursos da assistência</span>
  </div>

  <form [formGroup]="formularioCadastro" class="flex flex-col gap-4 text-neutral-800" (submit)="onSubmit()">
    
    <div class="flex flex-col gap-1.5">
      <label class="font-semibold tracking-wider text-neutral-600" for="name">Nome Completo</label>
      <input type="text" id="name" formControlName="name" class="input-openmac px-5" placeholder="Nome Completo">
    </div>
    
    <div class="flex flex-col gap-1.5">
      <label class="font-semibold tracking-wider text-neutral-600" for="register-email">Email</label>
      <input type="email" id="register-email" formControlName="email" class="input-openmac px-5" placeholder="seu@email.com">
    </div>

    <div class="flex flex-col gap-1.5">
      <label class="font-semibold tracking-wider text-neutral-600" for="password">Senha</label>
      <input type="password" id="password" formControlName="password" class="input-openmac px-5" placeholder="Mínimo 8 caracteres">
    </div>

    <div class="flex flex-col gap-1.5">
      <label class="font-semibold tracking-wider text-neutral-600" for="confirmPassword">Confirmar Senha</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="input-openmac px-5" placeholder="Confirmar a senha">
    </div>

    <div class="flex flex-col gap-1.5 relative w-full">
        <label class="font-semibold tracking-wider text-neutral-600" for="selectRole">Permissões</label>
        
        <button 
          type="button"
          (click)="toggleDropdown()"
          class="input-openmac px-5 flex justify-between items-center w-full text-left bg-white text-neutral-800 focus:outline-none"
        >
          <span>{{ obterLabelPermissao(formularioCadastro.get('role')?.value) || 'Selecione uma permissão' }}</span>
          
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 text-neutral-500 transition-transform" [class.rotate-180]="dropdownAberto">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
        </button>

        @if (dropdownAberto) {
          <ul class="absolute z-50 w-full left-0 top-[calc(100%+6px)] bg-neutral-50 border border-neutral-300 rounded-2xl shadow-lg overflow-hidden py-1 animate-fade-in">
            <li (click)="selecionarOpcao('ADMIN')" class="px-5 py-3 text-neutral-800 hover:bg-neutral-200 cursor-pointer transition-colors font-medium">
              Admin
            </li>
            <li (click)="selecionarOpcao('ATTENDANT')" class="px-5 py-3 text-neutral-800 hover:bg-neutral-200 cursor-pointer transition-colors font-medium">
              Atendente
            </li>
            <li (click)="selecionarOpcao('TECHNICAL')" class="px-5 py-3 text-neutral-800 hover:bg-neutral-200 cursor-pointer transition-colors font-medium">
              Técnico
            </li>
          </ul>
        }
     </div>


    <div class="mt-2">
      <button type="submit" 
        [disabled]="formularioCadastro.invalid"
        class="button-openmac disabled:opacity-50 disabled:cursor-not-allowed transition-all">
        Solicitar acesso
      </button>
    </div>  

     @if (formularioCadastro.hasError('naoBate') && formularioCadastro.get('confirmPassword')?.touched) {
      <div class="text-xs text-red-500 font-medium px-4 animate-slide-up bg-red-50 border border-red-100 py-2 rounded-2xl text-center">
        As senhas digitadas não são iguais.
      </div>
    }
  </form> 
  <div class="flex flex-col w-full items-center text-sm">
    <button (click)="onVoltarParaLogin.emit()" class="text-neutral-900 font-semibold hover:text-neutral-500 underline-offset-4 hover:underline transition-colors">
      Já possui uma conta? Entre aqui
    </button>
  </div>

</div>