<div class="w-full max-w-md flex flex-col gap-6 animate-slide-up">
    <div class="flex flex-col gap-2 items-center text-center">
        <h3 class="text-3xl font-bold tracking-tight text-neutral-900">Esqueceu sua senha?</h3>
        <span class="text-neutral-500">Insira seu email ou nome de usuário e enviaremos um link para redefinição de senha</span>
    </div>

    <form [formGroup]="formularioRecovery" class="flex flex-col gap-4 text-neutral-800" (submit)="onSubmit()">
        <div class="flex flex-col gap-1.5">
            <label class="font-semibold tracking-wider text-neutral-600" for="name">Nome Completo</label>
            <input type="email" id="name" formControlName="email" class="input-openmac px-5" placeholder="Informe seu email cadastrado.">
        </div>
        <div class="mt-2">
            <button type="submit"
                [disabled]="isLoading"
                class="button-openmac disabled:opacity-50 disabled:cursor-not-allowed transition-all"
            >
                <span *ngIf="!isLoading">Redefinir Senha</span>
                <span *ngIf="isLoading">Enviando instruções... ⏳</span>
            </button>
        </div>
    </form>

    <div class="flex flex-col w-full items-center text-sm">
        <button (click)="onVoltarParaLogin.emit()" class="text-neutral-900 font-semibold hover:text-neutral-500 underline-offset-4 hover:underline transition-colors">
            Voltar para login? Entre aqui
        </button>
    </div>
</div>